/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Square+Peg&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f59e0b;
  --hover-color: #f7b441;
  --secondary-color: #be123c;
  --background-color: #eee;
  --text-color: #fff;
  --text-color2: #333;
}

/* general styling start*/

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: "Square Peg", cursive;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--hover-color);
}

/* general styling end*/

/* navbar styling start */

.primary-header {
  background: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.logo {
  margin: 2rem;
  color: var(--text-color);
  font-size: 25px;
}

#menu-icon {
  display: none;
}

.primary-nav {
  background: hsl(0 0% 0% / 0.6);
  backdrop-filter: blur(1rem);
  margin-top: 1rem;
  z-index: 1000;
  position: fixed;
  right: 0;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-nav {
    background: hsl(0 0%);
    backdrop-filter: blur(1rem);
  }
}

.primary-nav a {
  transition: all 0.2s ease;
}

.primary-nav a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.primary-nav a:hover {
  color: var(--primary-color);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* navbar styling end */

/* hero styling start */
#wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#hero {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color);
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* hero styling end */

/* about styling start */
#about .row {
  display: flex;
  flex-direction: column;
}

#about .col {
  flex: 1;
  padding: 40px;
}

#about .about-content h1 {
  font-size: 60px;
  font-weight: 500;
}

#about .about-content h3 {
  color: var(--secondary-color);
  margin: 20px 0;
  font-size: 35px;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

#about .about-content p {
  line-height: 1.7;
}

#about .about-content .btn {
  margin-top: 20px;
}

#about .image-container img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social i {
  padding: 0.6rem;
  background-color: var(--secondary-color);
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}

/* about styling end */

/* menu section starts */
#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding-bottom: 50px;
}
#menu h1 {
  padding: 30px 0;
  font-size: 60px;
  font-weight: 500;
}

.grid {
  display: grid;
  width: 90%;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: var(--text-color);
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-1%);
  box-shadow: 0 3.5rem 6.5rem rgba(0, 0, 0, 0.5);
}

.card-img img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-header {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.card-text {
  font-weight: 600;
  margin: 10px 0;
  font-size: 20px;
}

/* menu section ends */

/* contact section start */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 50px 0;
}

#contact .container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 100;
}

.contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background-color: var(--primary-color);
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.contactInfo h2 {
  font-size: 35px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.contactInfo .info {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contactInfo li {
  position: relative;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: flex-start;
}

.contactInfo li i {
  font-size: 20px;
}

.contactForm {
  position: absolute;
  padding: 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: var(--text-color);
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.contactForm h2 {
  font-size: 35px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.contactForm form {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.contactForm .inputGroup {
  position: relative;
}

.contactForm .inputGroup.w50 {
  width: 47%;
}
.contactForm .inputGroup.w100 {
  width: 100%;
}
.contactForm .inputGroup input,
.contactForm .inputGroup textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--text-color2);
  border: none;
  outline-width: 0;
  border-bottom: 1px solid #777;
}

.contactForm .inputGroup textarea {
  height: 120px;
}

.contactForm form button {
  border-radius: 0;
  margin-top: 10px;
  width: 100%;
  background-color: var(--background-color);
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

/* contact section end */

/* media queries start*/

/* navbar and header media queries */
@media (max-width: 560px) {
  .primary-nav {
    --gap: 3rem;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(0 0%);
    backdrop-filter: blur(1rem);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    margin-top: 0;
  }

  #menu-icon {
    display: inline-block;
    position: fixed;
    top: 2.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    z-index: 9999;
    color: var(--primary-color);
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }
}

@media (min-width: 560px) and (max-width: 880px) {
  .primary-nav a > [aria-hidden="true"] {
    display: none;
  }
}

@media (min-width: 560px) {
  .primary-nav {
    --gap: clamp(1.5rem, 15vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}

@media (min-width: 760px) {
  /* about section media queries */
  #about {
    padding: 100px 0;
  }

  #about .row {
    flex-direction: row;
  }

  /* menu section media queries */
  #menu {
    padding: 50px;
  }

  #menu h1 {
    padding: 0;
    margin-bottom: 30px;
  }
}

/* contact form media queries */
@media (max-width: 1200px) {
  #contact .container {
    width: 85%;
    min-width: auto;
    margin: 20px;
  }

  .contactInfo {
    top: 0;
    height: 550px;
    position: relative;
    box-shadow: none;
    width: 100%;
    margin: auto;
  }

  .contactForm {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 40px;
    height: 550px;
    box-shadow: none;
  }
}

@media (max-width: 960px) {
  #contact::before {
    display: none;
  }

  #contact .container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 460px) {
  .contactForm .inputGroup.w50 {
    width: 100%;
  }

  .contactForm {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 40px;
    height: 700px;
    box-shadow: none;
  }
}

/* media queries end*/
